@(lang: String, headers: Map[String, Header])

  @reference(header: Header, suffix: String = "") = @{
    val text = (if (header.name == header.clarification.getOrElse(header.name))
      header.name else header.name + " (" + header.clarification.get + ")") + suffix

    if (header.presented.getOrElse(false))
      <a href={"/chapter/" + header.code + s"/1/$lang/"}>&#x271A;&#x00A0;{text.replaceAll(" ", "\u00A0")}</a>
    else
      <span>&#x271A;&#x00A0;{text.replaceAll(" ", "\u00A0")}</span>
  }

@main("Bible", "/books/") {
  <div id="container" class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-8 col-sm-10">
        <h1 class="text-center">
          @{headers("Bib").name}
            &#x00A0;&#x00A0;&#x00A0;
          <img class="menu" src="@routes.Assets.at("images/settings.png")" onclick="_global.toggleSettings()">
        </h1>
        <hr/>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-4 col-sm-5">
        <h2>@{headers("VT").name}</h2>

        <h3 class="text-muted">@{headers("StatV").name}<br><small>@{headers("StatV").clarification}</small></h3>

        @reference(headers("Gen"))
        @reference(headers("Ex"))
        @reference(headers("Lev"))
        @reference(headers("Num"))
        @reference(headers("Deut"))

        <h3 class="text-muted">@{headers("HistV").name}</h3>

        @reference(headers("Jos"))
        @reference(headers("Jdcs"))
        @reference(headers("Ruth"))
        <br/>
        @reference(headers("1Reg"))
        @reference(headers("2Reg"))
        @reference(headers("3Reg"))
        @reference(headers("4Reg"))
        <br/>
        @reference(headers("1Par"))
        @reference(headers("2Par"))
        <br/>
        @reference(headers("1Esd"))
        @reference(headers("2Esd"))
        @reference(headers("3Esd"), "*")
        @reference(headers("4Esd"), "*")
        <br/>
        @reference(headers("Tob"), "*")
        @reference(headers("Jdth"), "*")
        @reference(headers("Esth"))
        <br/>
        @reference(headers("1Mach"), "*")
        @reference(headers("2Mach"), "*")
        @reference(headers("3Mach"), "*")
        @reference(headers("4Mach"), "*")

        <h3 class="text-muted">@{headers("DocV").name}</h3>
        @reference(headers("Job"))
        @reference(headers("Ps"))
        @reference(headers("Prov"))
        @reference(headers("Ecc"))
        @reference(headers("CC"))
        @reference(headers("Sap"), "*")
        @reference(headers("Sir"), "*")

        <h3 class="text-muted">@{headers("ProvV").name}</h3>
        @reference(headers("Isa"))
        @reference(headers("Jer"))
        @reference(headers("Ezch"))
        @reference(headers("Dan"))
        <br/>
        @reference(headers("Lam"))
        @reference(headers("Bar"), "*")
        @reference(headers("EJer"), "*")
        <br/>
        @reference(headers("Osee"))
        @reference(headers("Joel"))
        @reference(headers("Am"))
        @reference(headers("Abd"))
        @reference(headers("Jon"))
        @reference(headers("Mic"))
        @reference(headers("Nah"))
        @reference(headers("Hab"))
        @reference(headers("Soph"))
        @reference(headers("Agg"))
        @reference(headers("Zach"))
        @reference(headers("Mal"))
      </div>
      <div class="col-md-4 col-sm-5">
        <h2>@{headers("NT").name}</h2>

        <h3 class="text-muted">@{headers("StatN").name}<br><small>@{headers("StatN").clarification}</small></h3>

        @reference(headers("Mt"))
        @reference(headers("Mc"))
        @reference(headers("Lc"))
        @reference(headers("In"))

        <h3 class="text-muted">@{headers("HistN").name}</h3>
        @reference(headers("Act"))

        <h3 class="text-muted">@{headers("DocN").name}</h3>
        @reference(headers("Jac"))
        <br/>
        @reference(headers("1Pet"))
        @reference(headers("2Pet"))
        <br/>
        @reference(headers("1In"))
        @reference(headers("2In"))
        @reference(headers("3In"))
        @reference(headers("Jd"))
        <br/>
        @reference(headers("Rom"))
        <br/>
        @reference(headers("1Cor"))
        @reference(headers("2Cor"))
        <br/>
        @reference(headers("Gal"))
        @reference(headers("Eph"))
        @reference(headers("Php"))
        @reference(headers("Col"))
        <br/>
        @reference(headers("1Thess"))
        @reference(headers("2Thess"))
        <br/>
        @reference(headers("1Tim"))
        @reference(headers("2Tim"))
        <br/>
        @reference(headers("Tit"))
        @reference(headers("Phm"))
        @reference(headers("Hebr"))

        <h3 class="text-muted">@{headers("ProvN").name}</h3>
        @reference(headers("Apoc"))
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-8 col-sm-10">
        <hr/>
        <p class="text-muted">* @{headers("Incan").name}</p>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
}

