@(lang: String, chapter: Int, header: Header, book: Book, verses: Seq[Verse])

  @reference(href: String, title: String) = @{
      <a class="lead" href={href}><h2>{title}</h2></a>
  }

  @verse(num: Int, text: String) = @{
    val wrap = s"verse:$num"
    val top = wrap + ":top"
    val bracketed = """\[(^\])+\]""".r

    <div id={wrap}>
      <div id={top}
        onclick={s"_global.toggleVerse('${book.bookId}', '$chapter', '$num', '$wrap', '$top', '$lang')"}
        class="verse">
        <p>
          <em class="text-muted">{num}:</em>
          {text.split("""((?=\[)|(?<=\]))""") map { part =>
            if (part.startsWith("["))
              <span class={s"verse font-$lang text-success"}>{part}</span>
            else
              <span class={s"verse font-$lang"}>{part}</span>
          }}
        </p>
      </div>
    </div>
  }

@main("Chapter", s"/chapter/${book.bookId}/$chapter/") {
  <div id="container" class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-1 text-center">
        @{if (chapter > 1)
          reference(s"/chapter/${book.bookId}/${chapter - 1}/$lang/", s"#${chapter - 1}")
        else
          reference(s"/chapter/${book.prevId}/${book.prevChapters}/$lang/", book.prevId)}
      </div>
      <div class="col-md-8 col-sm-10">
        <h2>
          <span class="@{s"font-$lang"}">@{header.name}</span>, #@{chapter}
          &#x00A0;&#x00A0;&#x00A0;
          <img class="menu" src="@routes.Assets.at("images/books.png")" onclick="_global.toggleBooks()">
          &#x00A0;&#x00A0;&#x00A0;
          <img class="menu" src="@routes.Assets.at("images/settings.png")" onclick="_global.toggleSettings()">
        </h2>
        <hr/>
      </div>
      <div class="col-md-2 col-sm-1">
        @{if (chapter < book.chapters)
          reference(s"/chapter/${book.bookId}/${chapter + 1}/$lang/", s"#${chapter + 1}")
        else
          reference(s"/chapter/${book.nextId}/1/$lang/", book.nextId)}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-8 col-sm-10">
        @for(Verse(_, num, text) <- verses) {
          @verse(num, text)
        }
        <hr/>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
}

