@(title: String, baseUrl: String, headers: Map[String, Header], supLangs: Map[String, String])(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
        <script> var _global = {
            baseUrl: '@baseUrl',
            headers: {
                languageSelection:   '@headers("Lang").name',
                supportiveLanguages: '@headers("SLangs").name'
            },
            languages: {
                @Html(supLangs.view.map({case (code, name) => s"$code : '$name'"}).mkString(", "))
            }
        }</script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
       @body
    </body>
</html>
