@(title: String, baseUrl: String)(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>
        <script> var _global = {
            baseUrl: '@baseUrl',
            headers: {
                languageSelection:   'Язык',
                supportiveLanguages: 'Уточняющие языки'
            },
            languages: {
                chu: 'Церковнославянский',
                la:  'Latina',
                gr:  'Ελληνικά',
                ru:  'Русский'
            }
        }; </script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
       @body
    </body>
</html>
